//scss-lint:disable SelectorDepth NestingDepth
%list-circle-style {
  color: $black;
  font-size: 25px $important;
  height: 50px;
  line-height: 50px $important;
  overflow: visible $important;
  text-align: center;
  width: 50px;
}

.history-page {
  .collection {
    .collection-item {
      // scss-lint:disable all
      .title {
        @extend %header-title-color;
        font-size: 20px;
      }

      p {
        color: $gray;
        font-size: 14px $important;
        margin-top: -2px;
      }

      i {
        font-style: normal $important;
      }

      .icon-info-o {
        font-size: 35px $important;
      }

      .circle {
        @extend %list-circle-style;
      }

      .icon-image {
        margin-top: 12px;
        width: 35px;
      }
      .cyan .darken-2 {
        color: $white  $important;
      }
      .session-badge {
        color: $brown;
        font-size: 15px;
        margin-left: 5px;
      }
    }

    // scss-lint:enable

    .badge {
      border-radius: 3px;
      color: $white;
      font-size: 15px;
      height: 21px;
      line-height: 22px;

      &::before,
      &::after {
        border: none $important;
      }
    }
  }

  .title-section {
    .title {
      height: 30px;
      width: 76%;
    }

    .text-muted {
      color: $light-blue;
      margin-top: -30px;
    }
  }

  .unit-section {
    height: 20px;
    // margin-top: 5px;
    width: 100%;

    span {
      margin-top: -28px;
    }
  }

  .avatar-content {
    height: auto $important;
  }

  .validated,
  .notvalidated {
    font-size: 16px $important;
  }

  .separator {
    background-color: $light-gray $important;

    .total {
      color: $orange-darken-4 $important;
      font-size: 16px;
      margin-right: 15px;
      margin-top: 2px;
      padding: 0 $important;
    }

    span {
      color: $gray $important;
      font-size: 15px;
      line-height: $line-height5x - 2px;
      padding: $padding1x;
    }
  }

  .filter-message-area {
    background-color: $blue-grey-base;
    height: 50px;
    position: relative;
    width: 100%;
    z-index: 99;

    .fixed-area {
      // @extend %z-depth-1;
      background-color: $blue-grey-base;
      position: fixed;
      width: 100%;
    }

    .filter-message {
      color: $white;
      padding: 0 20px 10px;

      .icon-filter {
        margin-right: 5px;
      }
    }
  }

  .history-flexible-area {
    @extend %z-depth-1;
    background-color: $blue-grey-base;
    height: 250px;
    z-index: 99;

    .btn-flat {
      font-size: 20px;
      margin-top: -3px;
    }

    .chart-area {
      height: 200px;
      width: 100% $important;

      .ct-series-a .ct-bar {
        stroke: $yellow-base;
        stroke-width: 40px;
      }

      .ct-grid {
        stroke: $grey-lighten-5;
      }

      .ct-label {
        color: $white;
        fill: $white;
      }
    }

    .action-list {
      margin-top: 4px;
    }

  }

  .btn-floating {
    background-image: none $important;
    height: 70px $important;
    margin: 0 $important;
    padding: 0 $important;
    right: 20px $important;
    text-align: center;
    width: 70px $important;

    i {
      font-size: 50px;
      line-height: 64px $important;
    }
  }

}


.no-history-data-page,
.no-filter-action-page {
  @extend %wrapper-center;
  width: $width100;

  h2 {
    line-height: 32px;
    padding: 10px;
  }

  h3 {
    font-size: 19px $important;
    line-height: 27px;
    padding: 10px;
  }
}

.history-details-list {
  height: 100% $important;
}
