 #a0-lock.a0-theme-default .a0-panel .a0-email input{
 	font-size: $fontsize16;
 	top: -2px;
 }
 #a0-lock.a0-theme-default .a0-panel .a0-password input
 {
 	font-size: $fontsize16;
 	top: 0px;
 }

 .androidFour{
 	display: $display-none;
 }
