.summaries-running-header {
    width: 100%;
}
.modal-content form {
    margin-top: 25px;
}

input[type=text]+label:after,
input[type=password]+label:after,
input[type=email]+label:after,
input[type=url]+label:after,
input[type=time]+label:after,
input[type=date]+label:after,
input[type=datetime-local]+label:after,
input[type=tel]+label:after,
input[type=number]+label:after,
input[type=search]+label:after,
textarea.materialize-textarea+label:after {
    top: 20px $important;
}