#a0-lock.a0-theme-default .a0-panel .a0-email input {
  font-size: $fontsize16;
  // top: -2px $important;
}

#a0-lock.a0-theme-default .a0-panel .a0-email label {
  font-size: $fontsize16;
  // top: -2px $important;
 }

.androidFour {
  display: none;
 }
